body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.2rem;
	color: gray;
}
.section {
	position: relative;
	width: 100%;
	margin-top: 15px;
	max-width:600px;
}
.main {
	width: 100%;
}
.allWords {
	position: absolute;
}
.buttonDiv {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin-bottom: 70px;
}
.next {
	position: absolute;
	width: 15%;
	left: 80%;
	}
.next:hover {
	width: 16%;
}
.home {
	position: absolute;
	width: 15%;
	left: 7%;
}
.home:hover {
	width: 16%;
}
.back {
	position: absolute;
	width: 15%;
	left: 40%;
}
.back:hover {
	width: 16%;
}
#p1Words1 {
	top: 2%;
	left: 2%;
	padding-top: 0px;
}
h3 {
	margin-top: 0px;
}
#p1Words2 {
	top: 6%;
	left: 2%;
}
#p1Words3 {
	top: 25%;
	left: 5%;
    background-color: white;
	padding: 8px;
	opacity: 0.6;
	color: black;
}
#p1Words4 {
	top: 28%;
	left: 65%;
}
#p1Words5 {
	top: 80%;
	left: 2%;
}
footer {
	position: relative;
	margin-bottom: 200px;
	font-size: 1rem;
}
.logo {
	position: absolute;
	width: 10%;
	left: 85%;
	top: 90%;
	margin-top: 0px;
}
#p2Words1 {
	top: 20%;
	left: 55%;
	color: #5C2D91;
	}
#p2Words2 {
	top: 38%;
	left: 55%;
}
#p3Words1 {
	top: 40%;
	left: 60%;
	color: #5C2D91;
	}
#p3Words2 {
	top: 46%;
	left: 52%;
}
#p4Words1 {
	top: 45%;
	left: 56%;
	color: #5C2D91;
	}
#p4Words2 {
	top: 51%;
	left: 56%;
}
#p5Words1 {
	top: 58%;
	left: 54%;
	color: #A0262A;
	}
#p5Words2 {
	top: 64%;
	left: 54%;
	color: black;
}
#p5Words3 {
	top: 20%;
	left: 2%;
}			